[Init]
server_address = "127.0.0.1:5700"
client_address = "127.0.0.1:5701"
web_controller_address = "0.0.0.0:7001"
bot_name = "Theresa"
debug = true
database_enable = true
database_username = "postgres"
database_address = "localhost:5432"
database_passwd = "<password>"
database_name = "bot"
owner_id = 123456789
assistant_group = 123456789
enable_webhook_handler = false

[Gitea]
webhook_handler_address = "127.0.0.1:8000"
webhook_response_group = 123456789
api_url = "https://gitea.example.com"
api_token = "<your-readonly-token>"
