[123456789]
RecallPrevent = true
Repeater = true
TheresaHelp = true
TheresaCard = true
QiuDao = true
LineCount = true

[987654321]
RecallPrevent = true
Repeater = true
TheresaHelp = true
TheresaCard = true
