[123456789]
RecallPrevent = True
Repeater = True
TheresaHelp = True
TheresaCard = True
QiuDao = True
LineCount = True

[987654321]
RecallPrevent = True
Repeater = True
TheresaHelp = True
TheresaCard = True
